@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/guava/calendar/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/guava/filament-modal-relation-managers/resources/**/*';
@source '../../../../vendor/guava/calendar/resources/**/*';
@source "../../../../vendor/relaticle/flowforge/resources/views/**/*.blade.php";
